# Introduccion a Pandas
[Pandas](https://pandas.pydata.org/about/index.html) es una biblioteca que proporciona estructuras de datos y herramientas de anailis de datosn de alto rendimiento y faciles de usar.
* La estrucutra de datos pricipal es el DataFrame, que puede considerarse como una tabla 2D en memoria (como una hoja de calculo, con nombres de columna y etiquetas de fila).
* Muchas funciones disponibles en Excel, estan disponibles mediante programacion como crear tablas dinamicas, calcular columnas basadas en otras columnas, trazar graficos, etc.
* Proporciona un alto rendimiento para manipular (unir, dividir, modificar, etc.) grandes conjuntos de datos

## Import

In [4]:
import pandas as pd

### Estructuras de Datos de Pandas
La biblioteca de Pandas, de manera genérica, contiene las siguientes estructuras de datos:
* **Series:** Array de una dimensión
* **DataFrame:** Corresponde a una tabla de 2 dimensiones
* **Panel:** Similar a un diccionario de DataFrames

### Creacion de objeto Series

In [13]:
s = pd.Series([2, 4, 6, 8, 10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [22]:
# Creacion de un objeto Series inicializando con un diccionario de Python 
Altura =  {
    "Gabo": 170,
    "Lucero": 160,
    "Braulio": 180,
    "Jessica": 161
} # <-- Este es un diccionario de python
s = pd.Series(Altura)
print(s)

Gabo       170
Lucero     160
Braulio    180
Jessica    161
dtype: int64

In [30]:
# Crear un Objeto Series e inicializarlo con algunos de los elementos de un diccionario de python
Altura = {
     "Gabo": 170,
    "Lucero": 160,
    "Braulio": 180,
    "Jessica": 161
}

s = pd.Series(Altura, index = ["Braulio", "Gabo"])
print(s)

Braulio    180
Gabo       170
dtype: int64

In [34]:
# Creacion de un Objeto Series e inicializarlo con un escalar.
s = pd.Series(34, ["Test1", "Test2", "Test3"])
print(s)

Test1    34
Test2    34
Test3    34
dtype: int64

## Acceso a los elementos de un objeto Series
Cada elemento en un objeto Series tiene un identificador unico que se denomina **index label**.

In [41]:
# Crear un objeto Series
s = pd.Series([2, 4, 6, 8], index = ["Num1", "Num2", "Num3", "Num4"])
print(s)

Num1    2
Num2    4
Num3    6
Num4    8
dtype: int64

In [43]:
# Acceder al tercer elemento del objeto
s["Num3"]

np.int64(6)

In [49]:
# Tambein se puede acceder al elemento por posicion.
s[2]

/var/folders/hz/wt361b2n07lddh2hq8l8sy_40000gn/T/ipykernel_28575/2188709470.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]

np.int64(6)

In [51]:
# loc es la forma estandar de acceder a un elemento de un objeto Series por atributo
s.loc["Num3"]

np.int64(6)

In [53]:
# iloc es la forma estandar de acceder a un elemento de un objeto Series por posicion.
s.iloc[2]

np.int64(6)

In [55]:
# Accediendo al segundo y tercer elemento por posicion.
s.iloc[2:4]

Num3    6
Num4    8
dtype: int64